image: docker:19.03.12

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - build
  - test
  - push
  - deploy

Build:
  stage: build
  rules:
    - if: ($CI_MERGE_REQUEST_IID || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH == "master")
  script:
    - docker pull $CI_REGISTRY_IMAGE || true
    - > 
        docker build
        --cache-from $CI_REGISTRY_IMAGE
        --tag $CI_REGISTRY_IMAGE:temp
        .
    - docker push $CI_REGISTRY_IMAGE:temp

Run linter:
  stage: test
  variables:
    GIT_STRATEGY: none
  rules:
    - if: ($CI_MERGE_REQUEST_IID || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH == "master")
  script:
    - >
      docker container run
      --rm
      $CI_REGISTRY_IMAGE:temp
      run linter
      
Run unit tests:
  stage: test
  variables:
    GIT_STRATEGY: none
  rules:
    - if: ($CI_MERGE_REQUEST_IID || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH == "master")
  script:
    - >
      docker container run
      --rm
      $CI_REGISTRY_IMAGE:temp
      test

Push tag image:
  stage: push
  variables:
    GIT_STRATEGY: none
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - docker pull $CI_REGISTRY_IMAGE:temp
    - docker tag $CI_REGISTRY_IMAGE:temp $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME

Push develop image:
  stage: push
  variables:
    GIT_STRATEGY: none
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
  script:
    - docker pull $CI_REGISTRY_IMAGE:temp
    - docker tag $CI_REGISTRY_IMAGE:temp $CI_REGISTRY_IMAGE:develop
    - docker push $CI_REGISTRY_IMAGE:develop

Deploy development:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  environment:
    name: development
    on_stop: Manual stop development
  rules:
    - if: $CI_COMMIT_BRANCH == "develop"
  script:
    - docker container stop develop_to-do-api || true
    - docker container rm develop_to-do-api || true
    - >
      docker container run
      --publish 3001:3000
      --name develop_to-do-api
      --detach
      --restart unless-stopped
      $CI_REGISTRY/alvarogarciafer/to-do-api:develop
      run start-development

Manual stop development:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  environment:
    name: development
    action: stop
  only:
    - master
  when: manual
  script:
    - docker container stop develop_to-do-api || true
    - docker container rm develop_to-do-api || true
      
Push production image:
  stage: push
  variables:
    GIT_STRATEGY: none
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
  script:
    - docker pull $CI_REGISTRY_IMAGE:temp
    - docker tag $CI_REGISTRY_IMAGE:temp $CI_REGISTRY_IMAGE
    - docker push $CI_REGISTRY_IMAGE

Deploy production:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  environment:
    name: production
    on_stop: Manual stop production
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
  script:
    - docker container stop to-do-api || true
    - docker container rm to-do-api || true
    - >
      docker container run
      --publish 3000:3000
      --name to-do-api
      --detach
      --restart unless-stopped
      $CI_REGISTRY/alvarogarciafer/to-do-api
      run start

Manual stop production:
  stage: deploy
  variables:
    GIT_STRATEGY: none
  environment:
    name: production
    action: stop
  only:
    - master
  when: manual
  script:
    - docker container stop to-do-api || true
    - docker container rm to-do-api || true
