image: docker:19.03.12

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - build
  - test
  - push
  - deploy

Build:
  stage: build
  script:
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - > 
        docker build
        --cache-from $CI_REGISTRY_IMAGE:latest
        --tag $CI_REGISTRY_IMAGE:temp
        .
    - docker push $CI_REGISTRY_IMAGE:temp

Linter:
  stage: test
  variables:
    GIT_STRATEGY: none
  script:
    - >
      docker container run
      --rm
      $CI_REGISTRY_IMAGE:temp
      run linter
      
Unit tests:
  stage: test
  variables:
    GIT_STRATEGY: none
  script:
    - >
      docker container run
      --rm
      $CI_REGISTRY_IMAGE:temp
      test

Push develop:
  stage: push
  only:
    - develop
  variables:
    GIT_STRATEGY: none
  script:
    - docker pull $CI_REGISTRY_IMAGE:temp
    - docker tag $CI_REGISTRY_IMAGE:temp $CI_REGISTRY_IMAGE:develop
    - docker push $CI_REGISTRY_IMAGE:develop

Push latest:
  stage: push
  only:
    - master
  variables:
    GIT_STRATEGY: none
  script:
    - docker pull $CI_REGISTRY_IMAGE:temp
    - docker tag $CI_REGISTRY_IMAGE:temp $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:latest

Push tag:
  stage: push
  only:
    - tags
  variables:
    GIT_STRATEGY: none
  script:
    - docker pull $CI_REGISTRY_IMAGE:temp
    - docker tag $CI_REGISTRY_IMAGE:temp $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME

Deploy develop:
  stage: deploy
  only:
    - develop
  variables:
    GIT_STRATEGY: none
  script:
    - docker container stop develop_to-do-api || true
    - docker container rm develop_to-do-api || true
    - >
      docker container run
      --publish 3001:3000
      --name develop_to-do-api
      --detach
      --restart unless-stopped
      $CI_REGISTRY/alvarogarciafer/to-do-api:develop
      run start-develop

Deploy:
  stage: deploy
  only:
    - master
  variables:
    GIT_STRATEGY: none
  script:
    - docker container stop to-do-api || true
    - docker container rm to-do-api || true
    - >
      docker container run
      --publish 3000:3000
      --name to-do-api
      --detach
      --restart unless-stopped
      $CI_REGISTRY/alvarogarciafer/to-do-api:latest
      run start
