image: docker:19.03.12

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - > 
        docker build
        --tag $CI_REGISTRY/alvarogarciafer/to-do-api:latest
        .

linter:
  stage: test
  script:
    - >
      docker container run
      --rm
      $CI_REGISTRY/alvarogarciafer/to-do-api:latest
      run eslint
      
unit-tests:
  stage: test
  script:
    - >
      docker container run
      --rm
      $CI_REGISTRY/alvarogarciafer/to-do-api:latest
      test

push-and-deploy:
  stage: deploy
  only:
    - master
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push $CI_REGISTRY/alvarogarciafer/to-do-api:latest
    - docker container stop to-do-api || true
    - docker container rm to-do-api || true
    - >
      docker container run
      --publish 3000:3000
      --name to-do-api
      --detach
      $CI_REGISTRY/alvarogarciafer/to-do-api:latest
      start
