version: "3.7"

volumes:
  logs:
    
networks:
  to-do-app:
    name: to-do-app

services:
  to-do-api:
    env_file:
      - .env
    image: alvarogarciafer/to-do-api:$TO_DO_API_TAG
    build: .
    volumes:
      - type: volume
        source: logs
        target: /to-do-api/logs
    networks:
      - to-do-app
    ports:
      - 3000:3000
    container_name: to-do-api
    restart: unless-stopped
    command: 
      - start
