version: "3.7"
    
networks:
  network-to-do-app:
    external: true
    name: network-to-do-app

services:
  api:
    environment:
     - NODE_ENV=$NODE_ENV
     - MONGODB_HOST=$MONGODB_HOST
    image: ghcr.io/to-do-app/api:$TAG
    build: .
    networks:
      - network-to-do-app
    ports:
      - $PORT:3000
    container_name: api
    restart: unless-stopped
    command: 
      - start
