version: "3.7"
    
networks:
  network-todoapp:
    external: true
    name: network-todoapp

services:
  api:
    environment:
      - NODE_ENV=$NODE_ENV
      - MONGODB_USER=$MONGODB_USER
      - MONGODB_PASS=$MONGODB_PASS
      - MONGODB_HOST=$MONGODB_HOST
    image: ghcr.io/to-do-app/api:$TAG
    build: .
    # volumes:
    #   - type: bind
    #     source: /etc/letsencrypt/archive/todoapp.duckdns.org
    #     target: /api/certbot-keys
    networks:
      - network-todoapp
    ports:
      - $PORT:3000
    container_name: api
    restart: unless-stopped
    command: 
      - start
