version: '3.1'

volumes:
  mongodb:

services:
  mongo:
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_INITDB_ROOT_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_INITDB_ROOT_PASSWORD
    image: mongo:4
    volumes:
      - mongodb:/data/db
    restart: unless-stopped

  mongo-express:
    environment:
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
      ME_CONFIG_MONGODB_ADMINUSERNAME: $MONGO_INITDB_ROOT_USERNAME
      ME_CONFIG_MONGODB_ADMINPASSWORD: $MONGO_INITDB_ROOT_PASSWORD
      ME_CONFIG_BASICAUTH_USERNAME: $ME_CONFIG_BASICAUTH_USERNAME
      ME_CONFIG_BASICAUTH_PASSWORD: $ME_CONFIG_BASICAUTH_PASSWORD
    image: mongo-express:0.54.0
    ports:
      - 8081:8081
    restart: unless-stopped

  to-do-api:
    environment:
      TO_DO_API_TAG: $TO_DO_API_TAG
      DEBUG: $DEBUG
      NODE_ENV: $NODE_ENV
    image: alvarogarciafer/to-do-api:$TO_DO_API_TAG
    build: .
    ports:
      - 3000:3000
    restart: unless-stopped
    command: 
      - start
