version: "3.7"

volumes:
  mongodb:
  mongodb-config:
  logs:

services:
  mongo:
    env_file:
      - .env
    image: mongo:4
    volumes:
      - type: volume
        source: mongodb
        target: /data/db
      - type: volume
        source: mongodb-config
        target: /data/configdb
    container_name: mongo
    restart: unless-stopped

  mongo-express:
    image: mongo-express:0.54.0
    ports:
      - 8081:8081
    container_name: mongo-express
    restart: unless-stopped

  to-do-api:
    env_file:
      - .env
    image: alvarogarciafer/to-do-api:$TO_DO_API_TAG
    build: .
    volumes:
      - type: volume
        source: logs
        target: /to-do-api/logs
    ports:
      - 3000:3000
    container_name: to-do-api
    restart: unless-stopped
    command: 
      - start
