version: "3.7"
    
networks:
  network-to-do-app:
    external: true
    name: network-to-do-app

services:
  to-do-api:
    environment:
     - NODE_ENV=$NODE_ENV
     - MONGO_HOST=$MONGO_HOST
     - MONGO_PORT=$MONGO_PORT
    image: alvarogarciafer/to-do-app_api:$TAG
    build: .
    networks:
      - network-to-do-app
    ports:
      - $PORT:3000
    container_name: to-do-api
    restart: unless-stopped
    command: 
      - start
