name: Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'production'
      tag:
        description: 'Tag or version'
        required: true
      port:
        description: 'Port'
        required: true
        default: '3000'
      db-host:
        description: 'Database host'
        required: true
        default: 'mongo'
      db-port:
        description: 'Database port'
        required: true
        default: '27017'

jobs:
  deploy:
    runs-on: [self-hosted, "${{ github.event.inputs.environment }}"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Deploy containers
        env:
          NODE_ENV: ${{ github.event.inputs.environment }}
          TAG: ${{ github.event.inputs.tag }}
          PORT: ${{ github.event.inputs.port }}
          DB_HOST: ${{ github.event.inputs.db-host }}
          DB_PORT: ${{ github.event.inputs.db-port }}
        run: |
          docker network create to-do-app || true
          docker-compose pull --quiet
          if [[ "${{ github.event.inputs.environment }}" = "production" ]]; then
            docker-compose --file docker-compose.yml --file docker-compose.production.yml up --detach
          else
            docker-compose up --detach
          fi
          docker image prune --all --force
