name: Deploy production

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag or version'
        required: true
        default: 'latest'

jobs:
  deploy:
    runs-on: [self-hosted, production]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Start containers
        run: |
          echo "NODE_ENV=production" >> .env
          echo "TO_DO_API_TAG=${{ github.event.inputs.tag }}" >> .env
          docker-compose down
          docker-compose pull to-do-api
          docker-compose up --detach
          rm .env
