name: Deploy

on:
  repository_dispatch:
    types: [deploy]

jobs:          
  deploy:
    runs-on: [self-hosted, production]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy containers
        env:
          NODE_ENV: ${{ secrets.DEFAULT_ENV }}
          TO_DO_API_TAG: ${{ secrets.DEFAULT_TO_DO_API_TAG }}
          TO_DO_API_PORT: ${{ secrets.DEFAULT_TO_DO_API_PORT }}
          MONGO_HOST: ${{ secrets.DEFAULT_MONGO_HOST }}
          MONGO_PORT: ${{ secrets.DEFAULT_MONGO_PORT }}
        run: |
          docker network create \
            network-to-do-app || true
          echo ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }} | docker login \
            --username ${{ secrets.DOCKER_HUB_USERNAME }} \
            --password-stdin
          docker-compose pull
          docker-compose \
            up \
            --detach
          docker image prune \
            --all \
            --force
