name: deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'development'
      tag:
        description: 'Tag or version'
        required: true
        default: 'latest'

jobs:
  deploy:
    runs-on: [self-hosted, "${{ github.event.inputs.environment }}"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Deploy containers
        run: |
          echo "NODE_ENV=${{ github.event.inputs.environment }}" >> .env
          echo "TO_DO_API_TAG=${{ github.event.inputs.tag }}" >> .env
          docker-compose down
          docker-compose pull to-do-api
          docker-compose up -d
          rm .env
