name: Deploy development

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag or version'
        required: true
        default: 'latest'

jobs:
  deploy:
    runs-on: [self-hosted, development]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Deploy containers
        run: |
          echo "NODE_ENV=development" >> .env
          echo "TO_DO_API_TAG=${{ github.event.inputs.tag }}" >> .env
          docker-compose down
          docker-compose pull
          docker network create to-do-app || true
          docker-compose up --detach
          rm .env
