name: Manual deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'production'
      tag:
        description: 'Tag or version'
        required: true
        default: latest
      port:
        description: 'Port'
        required: true
        default: '3000'
      mongo-host:
        description: 'Mongo host'
        required: true
        default: 'mongo'
      mongo-port:
        description: 'Mongo port'
        required: true
        default: '27017'

jobs:
  deploy:
    runs-on: [self-hosted, "${{ github.event.inputs.environment }}"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Deploy containers
        env:
          NODE_ENV: ${{ github.event.inputs.environment }}
          TAG: ${{ github.event.inputs.tag }}
          PORT: ${{ github.event.inputs.port }}
          MONGO_HOST: ${{ github.event.inputs.mongo-host }}
          MONGO_PORT: ${{ github.event.inputs.mongo-port }}
        run: |
          docker network create \
            network-to-do-app || true
          echo ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }} | docker login \
            --username ${{ secrets.DOCKER_HUB_USERNAME }} \
            --password-stdin
          docker-compose pull
          if [[ "${{ github.event.inputs.environment }}" = "production" ]]; then
            docker-compose --file docker-compose.yml --file docker-compose.production.yml \
              up \
              --detach
          else
            docker-compose up \
              --detach
          fi
          docker image prune \
            --all \
            --force
