name: On push

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: [self-hosted, builder]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and push latest image
        run: |
          docker login --username ${{ secrets.DOCKER_HUB_USERNAME }} --password ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          docker image build --tag alvarogarciafer/to-do-api:latest .
          docker image push alvarogarciafer/to-do-api:latest

      - name: Autotag package
        uses: butlerlogic/action-autotag@stable
        id: action-autotag
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          strategy: package
          tag_prefix: v

      - name: Build and push tagged image
        if: ${{ steps.action-autotag.outputs.tagname != '' }}
        run: |
          docker login --username ${{ secrets.DOCKER_HUB_USERNAME }} --password ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          docker image build --tag alvarogarciafer/to-do-api:${{ steps.action-autotag.outputs.tagname }} .
          docker image push alvarogarciafer/to-do-api:${{ steps.action-autotag.outputs.tagname }}
          
  deploy:
    runs-on: [self-hosted, development]
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy containers
        env:
          NODE_ENV: ${{ secrets.DEFAULT_ENV }}
          TO_DO_API_TAG: ${{ secrets.DEFAULT_TO_DO_API_TAG }}
          TO_DO_API_PORT: ${{ secrets.DEFAULT_TO_DO_API_PORT }}
          MONGO_HOST: ${{ secrets.DEFAULT_MONGO_HOST }}
          MONGO_PORT: ${{ secrets.DEFAULT_MONGO_PORT }}
        run: |
          docker network create to-do-app || true
          docker-compose pull --quiet
          docker-compose up --detach
          docker image prune --all --force
