name: redeploy

on: 
  workflow_dispatch:

jobs:
  redeploy:
    runs-on: self-hosted
    steps:
      - name: Deploy containers
        run: |
          docker-compose down
          echo "TO_DO_API_TAG=latest" >> .env
          echo "NODE_ENV=production" >> .env
          docker-compose down
          docker-compose up -d
          rm .env
