name: stop and remove

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'development'
      tag:
        description: 'Tag or version'
        required: true
        default: 'latest'

jobs:
  stop_and_remove:
    runs-on: [self-hosted, ${{ github.event.inputs.environment }}]
    steps:
      - name: Stop and remove containers
        run: |
          echo "NODE_ENV=${{ github.event.inputs.environment }}" >> .env
          echo "TO_DO_API_TAG=${{ github.event.inputs.tag }}" >> .env
          docker-compose down
          rm .env
