name: test

env:
  DOCKER_REPOSITORY: 'alvarogarciafer/to-do-api'
  TEST_IMAGE_TAG: 'test'

on:
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@master

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ env.DOCKER_REPOSITORY }}:${{ env.TEST_IMAGE_TAG }}

      - name: Run linter
        run: |
          docker container run \
          --rm \
          ${{ env.DOCKER_REPOSITORY }}:${{ env.TEST_IMAGE_TAG }} \
          run linter

      - name: Run unit tests
        run: |
          docker container run \
          --rm \
          ${{ env.DOCKER_REPOSITORY }}:${{ env.TEST_IMAGE_TAG }} \
          test
